---
id: 'verification'
title: 'Verification requirements'
sidebar_position: 8
---

# Miner verification requirements:

## 1. Proper installation: 
Make sure to follow the detailed instructions provided in our quick start guide for installation. You can find the guide [here](Quick%20start%20guide/4-installation)

## 2. Blackbird Registration: 
It is crucial to complete all the steps for Blackbird registration. For detailed instructions, please refer to our quick start guide [here](Quick%20start%20guide/5-registration) 

## 3. Online status: 
When you see a green lightning symbol at the top right, it means your miner is online.
Additionally, your miner should be actively transmitting and receiving packets, just like shown in the picture.

![One](miner_transmitting.jpg)

## 4. Connect a lorawan device: 
Ensure that at least one lorawan device is connected to the network through the miner and successfully sending events to the dashboard.
To add Dragino door sensor LDS02, included in the package, follow the [link](Quick%20start%20guide/6-adding-device)


![One](door_sensor_dragino_send_events.jpg)

When you tap on an event in the device log, you'll find detailed technical information that was received from your device. This includes the name of the miner that processed that specific event (gw parameter).

[One](door_sensor_dragino_device_log.jpg)